# Build artifacts
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/

# Editor / IDE files
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.user
*.userprefs
*.opensdf
*.sdf
*.VC.db
*.db

# Backup / temp
*.pdb
*.ipch
*.obj
*.pch
*.log
*.tlog
*.tmp
*.bak
*.local

# OS files
.DS_Store
Thumbs.db
